androguard @ git+https://github.com/androguard/androguard.git@335f1d4744b28b6b5cfb2d79bb5c2c6d780ec10e
click==8.0.3
cmd2==2.3.3
colorama==0.4.5
frida==16.1.4
frida-tools==12.3.0
pick==2.2.0
PyYAML==6.0.1
requests==2.25.1
urllib3==1.26.8
google_trans_new
